<!-- <ion-header>
    <ion-toolbar>
      <ion-title>
        Speech Recognition Test
      </ion-title>
    </ion-toolbar>
  </ion-header> -->

<ion-content>
    
  <div class="container">
  <div class="header-container">
      <h2 class="heading">Citizen Literacy</h2>
  </div>

  <div class="card-container">

    
      <div class="card" id="voice" (click)="voiceClicked()">
          <img src="assets/img/mic.png" class="title-image" alt="Voice Activity">
          <div class="link-container">
              <h2 class="sub-heading link">Voice Title
                  <i class="right"></i>
              </h2>
          </div>
      </div>
 

      <div class="card" id="audio" >
          <img src="assets/img/ear.png" class="title-image" alt="Audio Activity">
          <div class="link-container">
              <h2 class="sub-heading link">Audio Title
                  <i class="right"></i>
              </h2>
          </div>
      </div>

      <div class="card" id="handwriting" >
          <img src="assets/img/touch.png" class="title-image" alt="Handwriting Activity">
          <div class="link-container">
              <h2 class="sub-heading link">Handwriting Title
                  <i class="right"></i>
              </h2>
          </div>
      </div>
  </div>

  
</div>
  
  
